@charset "UTF-8";

:root {
    --dark-blue: #03318C;
    --light-dark-blue: #033E8C;
    --light-blue: #0367A6;
    --beige: #BFB3A4;
    --light-brown: #A66E4E;
    --font-roboto: 'Roboto', sans-serif;
}

/* Tablet version */

@media screen and (min-width: 660px) and (max-width: 1200px) {
    body {
        background-image: linear-gradient(to top, var(--beige), var(--light-blue), var(--dark-blue));
     }
 

    main {
        width: 90%;
        height: 50%;
    }

    #login-screen {
        flex-direction: row-reverse;
    }
    
    .login-screen-image {
        height: 100%;
        background-size: cover;
        background-position: left center;
        border-top-left-radius: 0;
        border-bottom-right-radius: 10px;
    }

    form {
        padding: 2.5rem 0;
    }

    .separato-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 2rem;
    }
    
    .login-screen-form-area {
        height: 3.2rem;
        margin: auto;
    }
}